@media(max-width: 767px) {
	.task {
      display: block;
      width: 100%;
	}
}

@media(max-width: 767px) {
	.filter {
      display: block;
      width: 100%;
	}
}

@media(max-width: 767px) {
	.detailss {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      margin-right:10px;
	}
}

@media(max-width: 767px) {
	.details {
      display: block;
      width: 80%;
      margin-bottom: 20px;
      margin-right:10px;
	}
}